<div class="background-auth">
<div class="auth-container center-login" >
  <h1>Log in</h1>
  <form method="POST" action="/auth/login">
    <div class="field">
      <input type="text" name="username" placeholder="Username*" />
    </div>

    <div class="field">
      <input type="password" name="password" placeholder="Password*" />
     </div>

    <div class="field submit">
      <button type="submit" class="button-auth">Log in</button>
    </div>
  </form>
</div>
</div>

<script>

  const parentContainer = document.querySelector('.container');
  parentContainer.style.padding = "0px";

</script>

