<!doctype html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto" rel="stylesheet">
</head>

<body>
  <nav id="navbar">
    <div class="nav-left">image</div>
    {{#if user}}
    <div class="nav-right">
      <a href="/profile">{{user.username}}</a>
      <form method="POST" action="/auth/logout">
        <div class="field submit">
          <button type="submit" class="button">Log out</button>
        </div>
      </form>
    </div>
    {{/if}} {{#unless user}}
    <div class="nav-right">
      <a href="/auth/signup">signup</a>
      <a href="/auth/login">login</a>
    </div>
    {{/unless}}
  </nav>

  <section class="container">
    {{{body}}}
  </section>

  <footer id="footer">
     &copy; Created and designed by Germán and Matias.
  </footer>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbd1wEUftm4XYLExy6MwHR8trFvSR_rS0"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
</body>

</html>