<section>
  <div class = "match-info">
    <img src="{{picture}}" alt="melon" class="cards-circle" width="250px">
    <p>{{user.username}}</p>
  </div>
</section>
<section class="container">
  <div id="map">
  </div>
  <div>
    <p id = "spot-name"></p>
    <p id = "spot-description"></p>
  <a href="/cards" class="button">Back</a>
  </div>
<section>

</section>

<script src="/javascripts/main.js"></script>
