<<<<<<< HEAD
<section>
  <div class = "match-info">
    <img src="../images/Man_Silhouette.png" width="200px">
=======
<section class = "container">
  <div>
    <img class="match-info-img" src="./images/Man_Silhouette.png" width="200px">
>>>>>>> ac032992e76003e4e1581473e8180e0232477120
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto repudiandae at possimus, recusandae totam laudantium quia tempore nostrum, quod, nulla et laborum ut dolorum eveniet aperiam nesciunt! Repellendus, vero at.</p>
  </div>
</section>
<section class="container">
  <div id="map">
  </div>
  <div>
    <p id = "spot-name">{{this.name}}</p>
    <p id = "spot-description">{{this.description}}</p>
  <a href="/cards" class="button">Back</a>
  </div>
<<<<<<< HEAD
<section>

</section>

<script src="/javascripts/main.js"></script>
=======
</section>
>>>>>>> ac032992e76003e4e1581473e8180e0232477120
