
/* ---- reset ---- */

html {
  box-sizing: border-box;
  min-height: 100vh;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 147%;
}

.title {
  font-family: 'Lobster', cursive;
  font-size: 100px;
}

p {
  margin: 0;
}




/* ---- NAV BAR ---- */
#navbar, #footer{
  width: 100vw;
  padding: 20px;
  background-color:#32C3FF;
}

#navbar a {
  padding: 6px;
  text-decoration: none;
}

.nav-left {
  display: inline-block;
}

.nav-right {
  display:flex;
  float:right;
}


/* ---- BODY ---- */
.container {
  background-color: #ffff;
  padding: 40px;
  text-align: center;
}



/* ---- BUTTON ---- */
.button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #ff5252; 
  color:white;
  font-size: 15px;
}

button:hover {
  box-shadow:1px 1px 30px 1px rgb(255, 134, 134); 
}
/* ---- FOOTER ---- */
#footer {
  color:grey;
}


/* ---- INDEX-PAGE ---- */
.quotes-people {
  text-align: left;
  margin-top: 50px;
}

.quotes-img {
  text-align: center;
}

.span-name {
  color:#ff5252;
  font-style: none;
}

.title-text {
  margin-bottom: 30px;
}

hr {
  width: 50%;
}

.social-media {
  padding-top: 30px; 
}
.social-media img {
  padding: 16px;
}

.index-button-container {
  width: 20%;
  margin: 0 auto;
}

.index-button-container button{
  width: 100%;
  padding: 20px 0;
}

/* ---- AUTH-CONTAINER ---- */

.auth-container {
  max-width: 400px;
  color: #ff5252;
  padding: 10px;
  margin: 0 5%;
  padding-top: 10px;
  background-color: rgba(0,0,5,0.5);
  margin: 0 auto;
  border-radius: 10px;
}
input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}
form label {
  font-weight:bold; 
  font-size: 25px;
}
input[type=password], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

textarea {
  font-size: 20px;
  width: 80%;
  height: 120px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.background-auth {
  background-image: url('../images/Iron.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10px;
  min-height: 90vh;
}

.button-auth {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #ff5252; 
  color:white;
  font-size: 15px;
  width: 30%;
}

.center-login {
  margin-top: 10%
}

/* ---- MATCH ---- */

.match-info-img {
  float: left;
}

/* ---- MAP ---- */
#map {
  clear:both;
  height: 50vh;
  width: 80%;
  margin: 0 auto;
}

