
/* ---- reset ---- */

html {
  box-sizing: border-box;
  min-height: 100vh;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 147%;
}

.title {
  font-family: 'Lobster', cursive;
  font-size: 100px;
}

p {
  margin: 0;
}




/* ---- NAV BAR ---- */
#navbar, #footer{
  width: 100vw;
  padding: 8px;
  background-color:#32C3FF;
}

#navbar a {
  padding: 6px;
  text-decoration: none;
}

.nav-left {
  display: inline-block;
}

.nav-right {
  display:flex;
  float:right;
}


/* ---- BODY ---- */
.container {
  background-color: #ffff;
  padding: 40px;
  text-align: center;
}



/* ---- BUTTON ---- */
.button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #ff5252; 
  color:white;
  font-size: 15px;
  box-shadow: 0px 6px 0px #d35400;
}

button:hover {
 -webkit-box-shadow: 0px 2px 0px #d35400;
 -moz-box-shadow: 0px 2px 0px #d35400;
 box-shadow: 0px 2px 0px #d35400;
 position:relative;
 top:4px;
}
/* ---- FOOTER ---- */
#footer {
  color:grey;
}


/* ---- INDEX-PAGE ---- */
.user-img {
  border-radius: 50%;
  width: 10%;
  height: 10%;
}

.quotes-people {
  text-align: left;
  margin-top: 50px;
}

.quotes-img {
  text-align: center;
}

.span-name {
  color:#ff5252;
  font-style: none;
}

.quotes-people-text {
  padding-top: 30px;
}

.title-text {
  margin-bottom: 30px;
}

hr {
  width: 50%;
}

.social-media {
  padding-top: 30px; 
}
.social-media img {
  padding: 16px;
}

.index-button-container {
  width: 20%;
  margin: 0 auto;
}

.index-button-container button{
  width: 100%;
  padding: 20px 0;
}

/* ---- AUTH-CONTAINER ---- */

.auth-container {
  max-width: 400px;
  color: #ff5252;
  padding: 10px;
  margin: 0 5%;
  padding-top: 10px;
  background-color: rgba(0,0,5,0.5);
  margin: 0 auto;
  border-radius: 10px;
}
input[type=text], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}
form label {
  font-weight:bold; 
  font-size: 25px;
}
input[type=password], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

textarea {
  font-size: 20px;
  width: 80%;
  height: 120px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.background-auth {
  background-image: url('../images/Iron.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10px;
  min-height: 90vh;
}

.button-auth {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #ff5252; 
  color:white;
  font-size: 15px;
  box-shadow: 0px 6px 0px #d35400;
  width: 30%;
}

.button-auth:hover {
 -webkit-box-shadow: 0px 2px 0px #d35400;
 -moz-box-shadow: 0px 2px 0px #d35400;
 box-shadow: 0px 2px 0px #d35400;
 position:relative;
 top:4px;
}

.center-login {
  margin-top: 10%
}

/* ---- MATCH ---- */

.match-info {
  max-width: 400px;
  padding: 10px;
  padding-top: 10px;
  background-color: rgba(0,0,5,0.7);
  margin: 30px auto;
  border-radius: 10px;
  color: white;
  display: inline-block
}

.match-info img {
  margin-top: -40px;
}

/* ---- CARDS ---- */

.cards-circle {
  border-radius: 50%;
  width: 250px;
  max-width: 150px;
  box-shadow: 0px 2px 2px black;
}

.background-cards {
  background: url('../images/pitos blancos.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10px;
  min-height: 90vh;
}

.cards-users {
  max-width: 400px;
  background: url('../images/backgroundmierda.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px; 
  color: white;
  margin-top: 5%;
  width: 80vw;
}
/* ---- MAP ---- */
#map {
  clear:both;
  height: 50vh;
  width: 80%;
  margin: 0 auto;
}

/* ---- PROFILE ---- */

.profile-background {
  background: url('../images/backgroundmierda.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
}
.profile h1{
  margin: 0px;
  font-size: 40px;
  margin-bottom: 15px;
}
.profile-only-text {
  max-width: 400px;
  padding: 10px;
  padding-top: 10px;
  background-color: rgba(0,0,5,0.5);
  margin: 0 auto;
  border-radius: 10px;
  color: rgb(202, 199, 199)
}
.profile-img {
  margin-top: -50px; 
}
.profile {
  padding-top: 30px;
}
.matches {
  max-width: 400px;
  padding-top: 10px;
  background-color: rgba(0,0,5,0.5);
  margin: 0 auto;
  border-radius: 10px;
}

.matches a {
  text-decoration: none;
  color: rgb(202, 199, 199) 
}

input[type="checkbox"]:active:after {
  border-radius: 100%;
  margin: -10px;
  width: 17px;
  height: 17px;
  padding: 8px;
  content: '';
  display: inline-block;
}



input[type="checkbox"]:after, input[type="checkbox"]:active:after:after {
  border-radius: 2px;
  width: 9px;
  height: 9px;
  padding: 2px;
  box-shadow: 0 0 0 2px #EEE;
  content: '';
  display: inline-block;
}

.form-cards {
  display: flex; 
}

input[type="checkbox"] {
  margin: 0 0 0 45px;
	background: #EEE;
	box-shadow: 0 0 0 0 #009688 inset, 0 0 0 2px #666666 inset, 0 0 0 8px #EEE inset, 0 0 0 0 #ddd inset, 0 0 0 0 #ddd;
	padding: 8px;
	border-radius: 2px;
  display: block;
  transition: all .2s;
  zoom: 2;

}

input[type="checkbox"]:active {
	background: #ddd;
	/* box-shadow: 0 0 0 0 #009688 inset, 0 0 0 2px #666666 inset, 0 0 0 0 #EEE inset, 0 0 0 8px #ddd inset, 0 0 0 12px #ddd; */
}

input[type="checkbox"]:checked:active {
	background: #009688;
}

input[type="checkbox"]:checked {
	background: #F9F9F9;
	box-shadow: 0 0 0 8px #009688 inset, 0 0 0 0 #666666 inset, 0 0 0 8px #EEE inset, 0 0 0 0 #ddd inset, 0 0 0 0 #ddd;
  content: url(https://i.imgur.com/OrSqEu5.png);
}

input[type="checkbox"]:hover {
  background: red
}

.map-border {
  box-shadow: 0px 2px 2px black;
}

.text-matches {
  margin: 20px;
}

.button-back a{
  text-decoration: none;
}

.button-back {
  padding-bottom: 30px;
}