<div class = "title-text">
<h1 class="title">IronTinder</h1>
<p>¿Estás tan ocupado con Ironhack que no te da tiempo a ligar? Tranquilo no eres el único.</p>
</div>

<hr>

<div class = "quotes-people">
  <div class= "quotes-img">
    <img src="./images/_FGG9802.jpg" width="550px" height="400px">
    <img src="./images/_FGG9803.jpg" width="550px" height="400px">
  </div>
  <p>"Gracias a IronTinder he encontrado el amor de mi vida, Ironhack." <span class="span-name">Mati</span></p>
  <p>"He hecho amigos." <span class="span-name">Pere</span></p>
  <p>"IronTinder me ha hecho darme cuenta de algo que habia olvidado, que gilipollas es la gente." <span class="span-name">Germán</span> </p>
</div>

<hr>

<div class="social-media">
  <a href="#"><img src="./images/instagram.png" height="100" width="100"></a>
  <a href="#"><img src="./images/twitter.png" height="100" width="100"></a>
  <a href="#"><img src="./images/facebook.png" height="100" width="100"></a>
</div>

{{!-- <footer id="footer">
    &copy; Created and designed by Germán and Matias.
</footer> --}}