<div class = "title-text">
<h1 class="title">IronTinder</h1>
<p>¿Too busy at Ironhack you can't flirt?, calm down, you're not the only one.</p> 
</div>

<hr>

<div class = "quotes-people">
  <div class= "quotes-img">
    <img src="./images/_FGG9802.jpg" width="550px" height="400px">
    <img src="./images/_FGG9803.jpg" width="550px" height="400px">
  </div>
  <div class="index-button-container">
    <a href="/cards"><button class="button">Get started</button></a>
  </div>
  <div class = "quotes-people-text">
  <p>"I found the love of my life, thanks to IronTinder" -<span class="span-name"> Eloi</span></p>
  <p>"I thought life was hard, but then i met IronTinder" -<span class="span-name"> Germán</span> </p>
  <p>"IronTinder is shit, yet it helped me find the love of my life." -<span class="span-name"> Byron</span></p>
  <p>"I can't have enough of this app!" -<span class="span-name"> Matias</span></p>
  </div>
</div>

<hr>

<div class="social-media">
  <a href="#"><img src="./images/instagram.png" height="100" width="100"></a>
  <a href="#"><img src="./images/twitter.png" height="100" width="100"></a>
  <a href="#"><img src="./images/facebook.png" height="100" width="100"></a>
</div>

