<link rel="stylesheet" href="./stylesheets/styleguide.css">
<section class="container">
  <div>
    <h1>
      <i>Typography</i>
    </h1>

    <h2>H2</h2>
    <h3>H3</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, voluptate.</p>
  </div>
</section>

<section class="container">
  <h1>
    <i>Colors</i>
  </h1>
  <div class="colors" style="background-color: #32C3FF">
    rgb(0, 0, 155)
  </div>
  <div class="colors" style="background-color: #ff5252">
    rgb(201, 0, 0)
  </div>
</section>

<section class="container">
  <div>
    <h1>
      <i>Buttons</i>
    </h1>
    <button class="button">Sample</button>
  </div>
</section>